mixin sweetpotato(info)
  div
    h4 
      a(href=`/video/${info.id}`)=info.title
    p 영상 설명 : #{info.description}.
    ul
    each banana in info.hashtags
       li=banana
    small #{info.createdAt}.
    hr