header {
  margin-left: 30px;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__logo {
    color: red;
  }
  ul {
    display: flex;
    width: 90%;
  }
  li {
    margin: 0px 10px;
  }
  i {
    font-size: 70px;
  }
  .header__btn {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: rgb(209, 225, 255);
  }
  .join {
    background-color: rgb(188, 255, 229);
  }
}
