extends base.pug


block contents
    h1 Yclone - Edit Video

    form(method="POST")
        input(name="name" type="text" value=`${nowvideo.name}` require placeholder="edit name")
        input(type="submit" value="save")