extends base.pug
include mixin/video.pug


block contents
    h1 Yclone - Homepage 
    span I love #{potato}

    div
        each potato in videos 
            +sweetpotato(potato)
        else 
            li sorry not found.



