extends base.pug
include mixin/video.pug


block contents
    div.videos-grid
        each potato in videos 
            +sweetpotato(potato)
        else 
            span.empty__message No videos found.
//- videos의 오브젝트를 potato에 담고 sweetpotato에 potato를 입력
//- 각각 영상마다 가진 변수를 하나씩 입력해줌

