extends base.pug

block contents 
    if ERRMSG  
        h3=ERRMSG
    form(method="POST")
        input(type="text" name="username" placeholder="Username" required)
        input(type="password" name="password" placeholder="Password" required)
        input(type="submit" value="LOGIN!!")
    hr
    h3
        a(href="/join") 계정이 없으시다면 계정만들기 &rarr;
    