extends base.pug
include ./mixin/video.pug

block contents 
    h1 #{user.name}님이 올린 영상
    each banana in user.videos 
        +sweetpotato(banana)
    else 
        h3 sorry nothing found.
    small
        a(href="/") Go home &rarr;