extends base.pug
include ./mixin/video.pug

block contents
    div.profile-box
        div.profile__data
            img(src="/"+user.avatarUrl).avatar
            h3 #{user.name}
    div.videos-grid
        each banana in user.videos 
            +sweetpotato(banana)
        else 
            span.empty__message  No videos found.