extends base.pug
include mixin/video.pug

block contents 
    form(method="GET").search__form
        input(placeholder="Serch video" type="text" name="keyword")
        input(type="submit" value="검색하기")
    div.videos-grid   
        each gtx3070 in videos
            +sweetpotato(gtx3070)
        else 
            span.empty__message  No videos found.