extends base.pug

block contents
    form(method="POST")
        input(name="uploadname" type="text" placeholder="VIDEO NAME" required )
        input(name="description" type="text" placeholder="영상 설명" required )
        input(name="hashtags" type="text" placeholder="콤마로 구분해주세요" required )
        input(type="submit" value="upload")