extends base.pug

block contents
    div
        video#preview
        button#previewBtn 녹화 화면 미리 보기
        button#recordStartbtn Start Record
    if ERRMSG 
        H1 에러메시지 : #{ERRMSG}
    div.form-box 
        form(method="POST" enctype="multipart/form-data").join-loginform
            label(for="video")
            input(type="file" id="video" name="video" accept="video/*" required)
            input(name="uploadname" type="text" placeholder="VIDEO NAME(최대30자)" required maxlength=30)
            input(name="description" type="text" placeholder="영상 설명(최소10자)" required minlength=10 )
            input(name="hashtags" type="text" placeholder="콤마로 구분해주세요" required )
            input(type="submit" value="upload")
block scripts
    script(src="/static/js/recorder.js") 