extends base.pug

block contents 
    div.form-box 
        form(method="post" , enctype="multipart/form-data").join-loginform.profile-form
            label(for="avatar") Avatar
            input(id="avatar", type="file", name="avatar", accept="image/*")
            label(for="email") Email
            input(id="email" type="email" name="email" placeholder="Email" required value=loggedInuser.email)
            label(for="username") Username
            input(id="username" type="text" name="username" placeholder="Username" required value=loggedInuser.username)
            label(for="location") Location
            input(id="location" type="text" name="location" placeholder="Location" value=loggedInuser.location)
            label(for="name") Name
            input(id="name" type="text" name="name" placeholder="Name" required value=loggedInuser.name)
            input(type="submit" value="프로필 수정하기")
            if loggedInuser.socialOnly!==true 
                a(href="/user/changepw") Change password &rarr;