extends base.pug

block contents 
    img(src="/"+loggedInuser.avatarUrl , width="100",height="100")
    form(method="post" , enctype="multipart/form-data")
        label(for="avatar") Avatar
        input(id="avatar", type="file", name="avatar", accept="image/*")
        input(type="email" name="email" placeholder="Email" required value=loggedInuser.email)
        input(type="text" name="username" placeholder="Username" required value=loggedInuser.username)
        input(type="text" name="location" placeholder="Location" required value=loggedInuser.location)
        input(type="text" name="name" placeholder="Name" required value=loggedInuser.name)
        input(type="submit" value="프로필 수정하기")
        if loggedInuser.socialOnly!==true 
            hr
            a(href="/user/changepw") Change Password &rarr;