extends base.pug 

block contents
  video(src="/"+nowvideo.fileUrl) 
  div 
    button#play Play 
    button#mute Mute 
    input(type="range" min="0" value=0.5 max="1" step="0.1")#volume
    div
      span#currentTime 00:00
      span  / 
      span#totalTime 00:00
    div 
      input(type="range" min="0" value=0.0 step="1")#timeline
block scripts 
  script(src="/static/js/videoplayer.js") 