header
    a(href="/")
        <i class="fa-brands fa-youtube header__logo"></i>
    ul
        li 
            a(href="/search") Search Video 
        if loggedIn 
                li
                    a(href="/video/upload") Upload Video
                li 
                    a(href="/user/edit") Edit Profile
                li 
                    a(href="/user/logout") Logout 
                li 
                    a(href=`/user/${loggedInuser._id}`) 
                        if !loggedInuser.avatarUrl
                            span #{loggedInuser.name}의 프로필
                        else 
                            img(src="/"+loggedInuser.avatarUrl).header__avatar
        else            
                li
                    a(href="/join").header__btn.join JOIN
                li  
                    a(href="/login").header__btn LOGIN
    