div.ifid
    a(href="/user/startGH")
        i.fab.fa-github
        span &nbsp;&nbsp;  깃헙 아이디로 로그인하기 
    a(href="/user/kakaostart") 
        i.fa-solid.fa-comment
        span &nbsp;&nbsp; 카카오 아이디로 로그인하기    