//config
@import "config/_variable.scss";
@import "config/reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
//component
@import "components/header.scss";
@import "components/footer.scss";
@import "components/video.scss";
@import "components/shared.scss";
@import "components/forms.scss";
//screen
@import "screens/home.scss";
@import "screens/search.scss";
@import "screens/profile.scss";
//default
a {
  color: inherit;
  text-decoration: none;
}
body {
  background-color: $bg;
  font-family: "Ubuntu", sans-serif;
}

main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
